---
import type { CollectionEntry } from 'astro:content'
import BlogCard from '../components/blogcard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div
  itemprop='mainEntity'
  itemscope
  itemtype='https://schema.org/Article'
  class='flex flex-wrap lg:px-14 justify-center items-center'
>
  {posts.map((post) => <BlogCard post={post} />)}
</div>
