---
import { SiteMetadata } from '../config'
---

<div class='bg-white'>
  <div
    class='mx-auto lg:h-[40vh] max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16'
  >
    <h2 class='text-3xl font-extrabold tracking-tight text-brown-800 sm:text-4xl'>
      <span class='block text-brown-900'>Pentru orice informații</span>
      <span class='block text-amber-700'>Ne puteti contacta telefonic oricând.</span>
    </h2>
    <div class='mt-8 flex lg:mt-0 lg:flex-shrink-0 whitespace-nowrap'>
      <div class='inline-flex rounded-md shadow'>
        <a
          href={SiteMetadata.repository + '/generate'}
          class='inline-flex items-center justify-center rounded-md border border-transparent bg-amber-700 px-5 py-3 text-base font-medium text-white hover:bg-amber-800'
        >
          0723 321 499
        </a>
      </div>
      <div class='ml-4 inline-flex rounded-md shadow lg:ml-3'>
        <a
          href={SiteMetadata.repository}
          rel='noopener noreferrer'
          target='_blank'
          class='inline-flex items-center justify-center rounded-md border border-amber-700 bg-white px-5 py-3 text-base font-medium text-amber-700 hover:bg-amber-100'
        >
          0334 131 451
        </a>
      </div>
    </div>
  </div>
</div>

