---
import { Icon } from 'astro-icon/components'

const features = [
  {
    name: 'Servicii Funerare Complete',
    icon: 'check'
  },
  {
    name: 'Non Stop',
    icon: 'clock'
  },
  {
    name: 'Consultanta Gratuita',
    icon: 'chat-bubble-left-right'
  },
  {
    name: 'Preturi Decente',
    icon: 'hand-thumb-up'
  }
]
---

<div class='bg-white py-12 laptop:h-[80vh] flex flex-col justify-center items-center'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='text-center'>
      <h1 class='text-3xl font-bold uppercase tracking-wider text-[#5D3E23]'>
        Pompe Funebre Sascut
      </h1>
      <div class='border-t-2 border-[#5D3E23] w-24 mx-auto my-4'></div>
      <p class='mt-2 text-lg font-medium leading-7 tracking-normal text-[#5D3E23] sm:text-2xl'>
        Suntem alaturi de fiecare client care apeleaza la noi pentru ca ultimul omagiu oferit defunctului si drumul sau catre eternitate sa fie decent si presarat cu toata stima, recunostinta si respectul cuvenit.
      </p>
    </div>

    <div class='mt-10'>
      <dl class='grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4'>
        {features.map((feature) => (
          <a href='#' class='flex flex-col items-center text-center space-y-4 group'>
            <div class='flex items-center justify-center h-24 w-24 rounded-full bg-[#FFC1A1] text-[#5D3E23] shadow-md transition-transform transform group-hover:scale-105'>
              <Icon class='h-12 w-12' aria-hidden='true' name={'heroicons:' + feature.icon} />
            </div>
            <p class='text-lg font-medium text-[#5D3E23]'>{feature.name}</p>
          </a>
        ))}
      </dl>
    </div>
  </div>
</div>
