---
import '../styles/features.css';
//import overviewImage from '../assets/astro/overview.jpg';
---

<div class='relative overflow-hidden lg:min-h-screen flex items-center'>
  <!-- Background image -->
  <div
    class='absolute inset-0 bg-cover'
    style="background-image: url(/overview.jpg)"
  ></div>

  <!-- Overlay for readability with header gradient -->
  <div class='absolute inset-0 bg-gradient-to-t from-[#D9A77D] to-[#FEF3E3] opacity-60'></div>

  <!-- Content Section -->
  <div class='relative z-10 mr-auto max-w-7xl px-8 sm:px-10 py-12 mt-32'>
    <main class='text-center sm:text-left'>
      <div class='mb-5 sm:mt-8 sm:flex sm:justify-start'>
        <!-- Primary button -->
        <a
          href='/despre-noi'
          class='flex w-full sm:w-auto items-center justify-center rounded-md border border-transparent bg-[#A63E00] px-8 py-3 text-base font-medium text-white  hover:bg-[#D9A77D] md:px-10 md:py-4 md:text-lg transition'
        >
        +40 (0)723 321 499
        </a>
        <!-- Secondary button
        <a
          href='https://github.com/sponsors/hellotham'
          class='ml-4 flex w-full sm:w-auto items-center justify-center rounded-md border border-transparent bg-[#F5E1D2] px-8 py-3 text-base font-medium text-[#5D3E23] hover:bg-[#D9A77D] hover:text-white md:px-10 md:py-4 md:text-lg transition'
          rel='noopener noreferrer'
          target='_blank'
        >
        +40 (0)723 321 499
        </a> -->
      </div>
      <h1
        class='text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl'
      >
      <div class="flex flex-col">
        <span class='block xl:inline'>Servicii Funerare</span>
        <span class='block text-[#A63E00] xl:inline'>La Ben Sorin</span>
      </div>
      </h1>
    </main>
  </div>
</div>
