---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Categories from '../components/categories.astro'
import { DefaultImage } from '../config'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props

---

<div class='bg-[#F5E1D2]'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='mx-auto max-w-2xl py-4 sm:py-8 lg:max-w-none lg:py-12'>
      <h1 class='text-center mt-12 mb-12 lg:mb-24 text-3xl font-bold uppercase tracking-wider text-[#5D3E23]'>
        Servicii Funerare
      </h1>
      <div class='mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {
          posts.map((post) => (
          <a href={new URL(import.meta.env.BASE_URL + 'servicii/' + post.slug, Astro.url)} class='group relative block h-80 w-full overflow-hidden rounded-lg'>
                  {post.data.coverSVG ? (
                    <img
                      src={post.data.coverSVG.src}
                      alt={post.data.title + ' featured image'}
                      class='absolute inset-0 h-full w-full object-cover transition-transform duration-300 group-hover:scale-105'
                      loading='lazy'
                    />
                  ) : (
                    <Image
                      src={post.data.coverImage || post.data.socialImage || DefaultImage}
                      alt={post.data.title + ' featured image'}
                      class='absolute inset-0 h-full w-full object-cover transition-transform duration-300 group-hover:scale-105'
                      loading='lazy'
                    />
                  )}
              <div class='absolute inset-0 bg-gradient-to-t from-black/70 via-black/30 to-transparent transition-opacity duration-300 group-hover:opacity-80'></div>
              <div class='absolute bottom-4 left-4 text-white transition-transform duration-300 group-hover:translate-y-[-4px]'>
                <h3 class='text-2xl font-semibold hover:underline'>{post.data.title}</h3>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
